node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
dist/
build/
coverage/
/.vscode/
/.env
Datos.env
*.env
*.local
.DS_Store
.cache
/.parcel-cache
/.next
.idea/
logs/
*.log
/.nyc_output
/.env.*
/.history
.envrc
/.env.test
/.env.production
.cache/
bundle/
tmp/
temp/
uploads/
sessions/
/.sass-cache
*.pem
secrets.json